.nav {
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    list-style: none;
    font-size: 12px;
    padding-inline-start: 0px;

    @media (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  &__link {
    font-family: $font;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    height: 59px;

    width: 190px;
    color: #1a1818;

    &:hover {
      color: blue;
    }
  }
}
